Aula 2

In [5]:
valor1 = input ('Digite um número inteiro: ')
valor2 = input ('Digite outro número inteiro: ')

In [6]:
print ( valor1 == valor2 )
print ( valor1 > valor2 )
print (valor1 < valor2 )
print ( valor1 >= valor2 )
print ( valor1 <= valor2 )

False
False
True
False
True

-Listas vazias:

In [7]:
L = []

In [8]:
L = list () #construtor de lista

Lista com 3 elementos:

In [9]:
dias = [3,1,10]

In [10]:
dias [0]

3

In [11]:
dias [1]

1

In [12]:
dias [2]

10

Modificando listas:

In [13]:
z = [3,8,9]

In [14]:
z [0] = 7

In [15]:
z

[7, 8, 9]

Clonando listas

In [16]:
a = [81,82,83]

In [17]:
b = a [:] #cria um clone com fatia

In [18]:
print (a==b)

True

In [19]:
print (a is b)

False

In [20]:
b [0] = 5

In [21]:
print (a)

[81, 82, 83]

In [22]:
print (b)

[5, 82, 83]

Fatiamento de listas

In [24]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']

In [25]:
print (uma_lista [1:3])

['b', 'c']

In [26]:
print (uma_lista [:4])

['a', 'b', 'c', 'd']

In [27]:
print (uma_lista [:3])

['a', 'b', 'c']

In [28]:
print (uma_lista [:])

['a', 'b', 'c', 'd', 'e', 'f']

Praticar listas

1. O que seá impresso na seguinte sequência de comandos?

In [29]:
a = [1,2,3]

In [30]:
b = a [:]

In [31]:
b [0] = 5

In [32]:
print (a[3])

IndexError: list index out of range

2. Cria uma lista chamada minhaLista com os seguintes itens : 76, 92.3, "oi', true, 4, 76. Depois execute alguns comandos

In [33]:
minhaLista = [76, 92.3, "oi", True, 4, 76]

In [45]:
minhaLista [7:] = ["Pitomba", 76]

In [46]:
print (minhaLista)

[76, 92.3, 'oi', 'Cibele', 4, 'pitomba', 'Pitomba', 'Pitomba', 76]

In [47]:
minhaLista [3] = "Cibele"

In [48]:
print (minhaLista)

[76, 92.3, 'oi', 'Cibele', 4, 'pitomba', 'Pitomba', 'Pitomba', 76]

In [49]:
minhaLista[0] = "99"

In [50]:
print (minhaLista)

['99', 92.3, 'oi', 'Cibele', 4, 'pitomba', 'Pitomba', 'Pitomba', 76]

In [54]:
print('O índice de "oi" é 0: ', minhaLista[0] == "oi")

O índice de "oi" é 0:  False

In [55]:
print('O índice de "oi" é 1: ', minhaLista[1] == "oi")

O índice de "oi" é 1:  False

In [56]:
print('O índice de "oi" é 2: ', minhaLista[2] == "oi")

O índice de "oi" é 2:  True

In [57]:
print('O índice de "oi" é 3: ', minhaLista[3] == "oi")

O índice de "oi" é 3:  False

In [58]:
print('O índice de "oi" é 4: ', minhaLista[4] == "oi")

O índice de "oi" é 4:  False

In [59]:
print('O índice de "oi" é 5: ', minhaLista[5] == "oi")

O índice de "oi" é 5:  False

3. O que é impresso pelo trecho de código a seguir?

In [61]:
uma_lista = [4,2,8,6,5]

In [52]:
uma_lista = uma_lista + ["cibele"]

In [53]:
print (uma_lista)

[4, 2, 8, 6, 5, 'cibele']

Criando Tuplas

Tupla com parênteses

In [62]:
tupla_numeros = (10,20,30)

In [63]:
tupla_numeros

(10, 20, 30)

Tupla sem parêntese

In [64]:
tupla_nova = 10,20,30

In [65]:
tupla_nova

(10, 20, 30)

Tupla com apenas um elemento

In [66]:
tupla_elemento = 10

In [67]:
tupla_elemento

10

Tupla vazia

In [69]:
tupla_vazia = ()

In [70]:
tupla_vazia

()

Criando um dicionário

In [71]:
dicio = {'chave': 'valor'}

In [72]:
print (type(dicio))

<class 'dict'>

1. Praticar dicionários

In [73]:
d = {'laranjas':15, 'bananas':35, 'siriguelas':12}

In [74]:
d['bananas']

35

In [75]:
d['pitomba'] = 20

In [76]:
len(d)

4

In [77]:
'pitomba' in d

True

In [78]:
'pears' in d

False

In [79]:
del d['laranjas']

In [80]:
'laranjas' in d

False

In [81]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [82]:
print ([1,2] + [3,4])

[1, 2, 3, 4]

In [83]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [84]:
print([0]*4)

[0, 0, 0, 0]

In [87]:
print([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]